<%= form_for @guest do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.select(:name, guest_names, include_blank: true) %>
  </div>
  <div class="form-group">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary active">
        <%= f.radio_button :food_option, 'meat', :style=>"display:none;", :checked => true %>
        Meat
      </label>
      <label class="btn btn-primary">
        <%= f.radio_button :food_option, 'vegetarian', :style=>"display:none;" %>
        Vegetarian
      </label>
    </div>
  </div>
  <div class="form-group">
    <%= f.text_area :dietary_requirements, class: 'form-control', placeholder: 'Please list any dietary requirements' %>
  </div>
  <%= f.submit 'Submit RSVP', class:'btn btn-primary' %>
<% end %>
