<h1>
  Guests - <%= @guests.count %> Responses
</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Attendance</th>
      <th scope="col">Food Option</th>
      <th scope="col">Dietary Requirements</th>
      <th scope="col">Message</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @guests.size == 0 %>
      <tr scope="row">
        <td>No guests found.</td>
      </tr>
    <% else %>
      <% @guests.each do |guest| %>
        <tr scope="row">
          <td><%= guest.name %></td>
          <td><%= guest.attendance %></td>
          <td><%= guest.food_option %></td>
          <td><%= guest.dietary_requirements %></td>
          <td><%= guest.message %></td>
          <td>
            <%= button_to "Edit", edit_guest_path(guest), method: :get %>
          </td>
          <td>
            <%= button_to "Delete", guest, method: :delete, data: { confirm: "Are you sure you wish to delete #{guest.name}?" } %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
