<h1>Guests</h1>
<div>
  <%= link_to "New Guest", new_guest_path %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Food Option</th>
      <th>Dietary Requirements</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @guests.size == 0 %>
      <tr>
        <td>No guests found.</td>
      </tr>
    <% else %>
      <% @guests.each do |guest| %>
        <tr>
          <td><%= guest.name %></td>
          <td><%= guest.food_option %></td>
          <td><%= guest.dietary_requirements %></td>
          <td>
            <%= button_to "Edit", edit_guest_path(guest), method: :get %>
          </td>
          <td>
            <%= button_to "Delete", guest, method: :delete, data: { confirm: "Are you sure you wish to delete #{guest.name}?" } %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
