<h1>Accommodation</h1>
<br/>
<p>We will be staying at the Richmond Harbour Hotel on the night of the wedding. They have kindly offered a discount of 15% to our guests. You just need to use the code "Emily Toby wedding" when booking over the phone.</p>
<br/>
<div class="card jumbo-card mx-auto bg-light">
  <a href="https://www.harbourhotels.co.uk/hotels/richmond/" target="_blank">
    <%= image_tag "harbour.jpg", class: "card-img-top"%>
    <div class="card-body">
      <h5 class="card-title">Richmond Harbour Hotel</h5>
      <p class="card-text">Set in an elegant 18th-century mansion with its own garden, this polished hotel is within walking distance of Richmond Park and is a mile from the shops and train station of Richmond town centre.</p>
    </div>
  </a>
</div>
<br/>
<hr/>
<br/>
<p>Other accommodation options in the local area include:</p>
<div class="card-deck">
  <div class="card bg-light">
    <a href="http://www.richmondhill-hotel.co.uk/en/default.html" target="_blank">
      <%= image_tag "richmond_hill.jpg", class: "card-img-top"%>
      <div class="card-body">
        <h5 class="card-title">Richmond Hill Hotel</h5>
        <p class="card-text">
          <small>
            Overlooking the Thames and the 2,500-acre Richmond Park, this Victorian hotel in upmarket Richmond dates from 1726, and is 1 mile from Richmond station.
          </small>
        </p>
      </div>
    </a>
  </div>
  <div class="card bg-light">
    <a href="https://www.travelodge.co.uk/hotels/600/London-Richmond-Central-hotel" target="_blank">
      <%= image_tag "travelodge.jpg", class: "card-img-top"%>
      <div class="card-body">
        <h5 class="card-title">Travelodge London Richmond Hotel</h5>
        <p class="card-text">
          <small>
            This low-key hotel occupies a simple brick building, and is a 7-minute walk from Richmond tube station, 2 miles from the Royal Botanic Gardens, Kew.
          </small>
        </p>
      </div>
    </a>
  </div>
  <div class="card bg-light">
    <a href="https://www.kingstonlodgehotellondon.co.uk/en" target="_blank">
      <%= image_tag "kingston_lodge.jpg", class: "card-img-top"%>
      <div class="card-body">
        <h5 class="card-title">Kingston Lodge Hotel</h5>
        <p class="card-text">
          <small>
            Located on the edge of Royal Richmond Park, the 4-star Brook Kingston Lodge Hotel features 67 bedrooms, a private indoor courtyard and a conservatory-style restaurant.
          </small>
        </p>
      </div>
    </a>
  </div>
  <div class="card bg-light">
    <a href="https://www.airbnb.co.uk/s/all?query=Richmond%20Park%2C%20Kingston%20Upon%20Thames" target="_blank">
      <%= image_tag "airbnb.jpg", class: "card-img-top"%>
      <div class="card-body">
        <h5 class="card-title">Airbnb</h5>
        <p class="card-text">
          <small>
            ...and of course there are plenty of options on Airbnb.
          </small>
        </p>
      </div>
    </a>
  </div>
</div>
