<h1>Responses</h1>
<div class="well">
  <%= link_to "New Response", new_response_path, class: "btn btn-primary" %>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Food Option</th>
      <th>Notes</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @responses.size == 0 %>
      <tr>
        <td colspan="6">No responses found.</td>
      </tr>
    <% else %>
      <% @responses.each do |response| %>
        <tr>
          <td><%= response.full_name %></td>
          <td><%= response.food_option %></td>
          <td><%= response.notes %></td>
          <td>
            <%= link_to "Edit", edit_response_path(response), class: "btn btn-default" %>
          </td>
          <td>
            <%= button_to "Delete", response, method: :delete, data: { confirm: "Are you sure you wish to delete #{response.full_name}?" }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
