<!DOCTYPE html>
<html>
  <head>
    <title>Mazzage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Welcome", pages_welcome_path %>
    <%= link_to "RSVP", new_guest_path %>
    <%= link_to "Accomodation", pages_accomodation_path %>
    <%= link_to "Q&A", pages_faq_path %>

    <%= yield %>
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% end %>
  </body>
</html>
